/* 全局 */
html,body{overflow-x: hidden;}
html{background-color: #F2F2F2;}
i{font-style: normal;}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}
.flex-direction {
  flex-direction: column;
}
.a-items-center {
  align-items: center;
}
.a-items-end {
  align-items: flex-end;
}
.j-content-center {
  justify-content: center;
}
.j-content-around {
  justify-content: space-around;
}
.j-content-between {
  justify-content: space-between;
}


